
{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
     
    <script type="text/javascript">
      var m={{ messages|safe }};
      for(var i=0;i<m.length;i++)
      {
        alert(m[i]);
      }
    </script>
    


  {% endif %}
{% endwith %}








<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Sno</th>
                <th>Rollno</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phno</th>
                <th>Aadharno</th>
                <th>Place</th>
                <th>College</th>
                <th>Branch</th>
                <th>Section</th>
                <th>Gender</th>
                <th>Block</th>
                <th>Floor</th>
                <th>Room</th>
                <th>Bed</th>
                <th>Fee</th>
                <th></th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{d[1]}}</td>
                <td>{{d[2]}}</td>
                <td>{{d[3]}}</td>
                <td>{{d[4]}}</td>
                <td>{{d[5]}}</td>
                <td>{{d[6]}}</td>
                <td>{{d[7]}}</td>
                <td>{{d[8]}}</td>
                <td>{{d[9]}}</td>
                <td>{{d[10]}}</td>
                <td>{{d[11]}}</td>
                <td>{{d[12]}}</td>
                <td>{{d[13]}}</td>
                <td>{{d[14]}}</td>
                <td>{{d[15]}}</td>
            
                  <td>
                  <form action="{{url_for('edit')}}" method="POST">
                  <button value={{d[0]}} name="edit">Edit</button>
                  </form>
                </td>

                <td>
                  <form action="{{url_for('delete')}}" method="POST">
                  <button value={{d[0]}} name="delete">Delete</button>
                  </form>
                </td>


            </tr>
            {% endfor %}

        </tbody>
</table>


<script type="text/javascript">

$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
</script>
{% endblock %}